.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.blog_content {
    width: 82%;
    height: 200px;
    float: left;
}

.blog_img {
    width: 18%;
    height: 200px;
    float: left;
}

.blog_profile {
    width: 50px;
    display: block;
    float: left;
}

.blog_name {
    float: left;
}