.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog_content {
    width: 82%;
    height: 200px;
    float: left;
}

.blog_img {
    width: 18%;
    height: 200px;
    float: left;
}

.blog_profile {
    width: 50px;
    display: block;
    float: left;
}

.blog_name {
    float: left;
}