body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    margin: auto;
    padding: 20px;
    max-width: 700px;
    font-size: 20px;
    color:cornflowerblue;
}

th {color: #69b6e3;}

/* td,th { 
    border: 1px solid black;
}*/

table {
    border-collapse: collapse;
    font-size: 20px;
}

.cart_background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart_table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart_table td, .cart_table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cell_long {
    width: 700px;
    text-align: left;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: chocolate;
}

.btn:focus {
    background-color: gray;
}

.btn:active {
    background-color: brown;
    border: 2px solid black;
}

.input_test {
    font-size: 20px;
}

.input_test:focus {
    border: 3px solid red;
}

.custon_link {
    text-decoration: none;
}

.custon_link:link {
    color: violet;
}

.custon_link:visited {
    color: black;
}