@font-face {
    font-family : 'nanum';
    src : url(../font/NanumSquareB.ttf)
}

div {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'nanum';
}

.nav-container {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: coral;
    color: white;
}

.nav-item {
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.main_background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpeg);
    background-size: cover; /* 배경이 짤려도 상관없으니 빈공간 없이 배경으로 꽉채우는 것 
    /contain-> 여백이 남아도 배경이 잘리지 않게 하는것 */
    background-repeat: no-repeat; /* 배경화면 반복 X */
    background-position: center; /* 배경화면은 기본적으로 왼쪽부터 채워지는짐 
    /center -> 가운데 부터 채워짐 */
    padding: 1px;
    text-align: center;
}

.main_title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.main_content {
    color: white;
    font-size: 20px;
}

.main_button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}

.box {
    background-color: #eee;
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin: auto;
    position: relative;
    top: -40px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flexbox i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
}

.item {
    min-height: 150px;
    flex-basis: 25%;
    text-align: center;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display:  block;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-wrap:hover .overlay {
    margin-top: 50%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;
}
/* media query 문법 / css최하단에 입력 
/브라우저 폭이 1200px 이하일 경우 아래 문법 실행*/
@media screen and (max-width : 1200px) {
    .item {
        flex-basis: 50%;
    }
}

@media screen and (max-width : 567px) {
    .item {
        flex-basis: 100%;
    }
}